/* Kimberly Yim's Assignment 2: Login CSS */

/* Header */
header {
    margin-bottom: 0;
    background-color: #E5DFCD
  }

#navbar {
    margin-left: 200px;
    margin-right: 75px;
    float: center;
    margin-bottom: 0px;
    border-radius: 0;
}

body {
    text-align: center;
}
