h1, h2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    }

body {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    background-image: url('https://dport96.github.io/ITM352/morea/030.ui-basics/phone_globe.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div {
    border: 5px solid black;
    display: flex;
}

img {
    width: 200px;
    height: 200px;
}